@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC|Bungee);

.header {
  background-color: lightgray;
  grid-area: header;
  position: relative;
  max-height: 150px;
  height: 150px;
}

.title-firstname {
  position: absolute;
  top: 0px;
  line-height: 0.79;
  vertical-align: baseline;
  font-family: 'Bowlby One SC', cursive;
  font-size: 100px;
  font-style: normal;
}

.title-lastname {
  position: absolute;
  bottom: 0px;
  line-height: 0.73;
  vertical-align: baseline;
  font-family: 'Bowlby One SC', cursive;
  font-size: 100px;
  font-style: normal;
}

.backchart{
  height: 150px
}

.gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(
    to right, rgba(211,211,211,1) 0%,
    rgba(211,211,211,1) 31%
    ,rgba(211,211,211,0) 67%,
    rgba(211,211,211,0) 100%
  );
}