.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.email-resume button:active {
  border-bottom-width: 0px;
  border-left-style: solid;
  border-left-width: 4px;
  border-right-width: 0px;
  border-top-style: solid;
  border-top-width: 4px;
}

.email-resume button {
  background-color: grey;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-left-width: 0px;
  border-right-style: solid;
  border-right-width: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 0px;
  padding: 10px;
  text-align: center;
  width: 230px;
}

.email-resume > a {
  margin: 30px 10px;
  color: black;
}

.icon-center {
  vertical-align: middle;
  padding-right: 10px;
}

@media (--mobile-size) {
  .button-row {
    flex-direction: column;
    align-items: center;
  }

  .button-row a,
  button {
    width: 100%;
    margin-bottom: 2%;
  }

  .email-resume > a {
    margin: 10px;
  }
}