.connections {
  color: wheat;
  font-family: "Roboto Mono", monospace;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
}

.connections > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.connections span {
  padding-left: 5px;
  color: wheat;
}

.connections a {
  color: wheat;
}

.vertical-middle {
  vertical-align: middle;
}

.hover-active:hover {
  color: green;
}

.gitlab:hover {
  color: #db3b21;
}

.medium:hover {
  color: #000000;
}

.github:hover {
  color: #333333;
}

.instagram:hover {
  color: #833ab4;
}

.twitter:hover {
  color: #1da1f2;
}

.linkedin:hover {
  color: #0077b5;
}

.mastodon:hover {
  color: #008ada;
}

.grow {
  transition: all 0.2s ease-in-out;
  width: 35px;
  padding: 5px 0;
}
.grow:hover {
  transform: scale(1.1);
}

@media (--tablet-size) {
  .connections {
    flex-direction: row;
    justify-content: center;
  }

  .grow {
    padding: 0 10px;
  }
}

@media (--mobile-size) {
  .connections {
    flex-wrap: wrap;
    max-width: 300px;
  }
  .grow {
    padding: 10px 10px;
  }
}
