@import "../../styles/constants";

.middle {
  padding-top: 100px;
  background-color: whitesmoke;
  padding-left: 7%;
  padding-right: 18%;
  grid-area: middle;
  // height: 100%;
  @media only screen and (max-width: $tablet-width) and (max-height: $tablet-height) and (min-resolution: $tablet-resolution),
    only screen and (max-width: $tablet-height) and (max-height: $tablet-width) and (min-resolution: $tablet-resolution) {
    padding: 0px 7%;
  }
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  
  hr {
    border-color: #efefef;
    background-color: #efefef;
    margin: 10vh 0px;
  }

  h1 {
    color: #353535;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 400;
  }

  h2 {
    color: #353535;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 400;
  }

  h3 {
    color: #353535;
    font-size: 1em;
    line-height: 1.5em;
    // font-weight: 400;
  }

  p {
    color: #313131;
  }

  a {
    color: #7998a5;
  }
}
