.middle {
  padding-top: 100px;
  background-color: whitesmoke;
  padding-left: 7%;
  padding-right: 18%;
  grid-area: middle;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  padding-bottom: 100px;
}

.content h1 {
  color: #353535;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 400;
}

.content h2 {
  color: #353535;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.content h3 {
  color: #353535;
  font-size: 1em;
  line-height: 1.5em;
}

.content p {
  color: #313131;
}

.content a {
  /* color: #7998a5; */
  color: #225a71;
}

@media (--tablet-size) {
  .middle {
    padding: 0px 7% 100px 7%;
  }
}
