.blur {
  filter: blur(10px);
  object-fit: cover;
}

.container {
  overflow: hidden;
}

.sharpen {
  object-fit: cover;
  animation: sharpen 0.5s both;
}

@keyframes sharpen {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0px);
  }
}
